name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Check READMEs and Docs
        run: bun run check:readmes

      - name: Lint
        run: bun run lint

      - name: Format Check
        run: bun run format --check

      - name: Typecheck
        run: bun run typecheck

      - name: Run Unit Tests
        run: bun test
